<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWaQ9VW6bTTQ0o_69pdsyM0edtN8gamGw</string>
	<key>GCM_SENDER_ID</key>
	<string>182440117373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baghdadbullion.bbhtrader</string>
	<key>PROJECT_ID</key>
	<string>bbh-trader---baghdad-bullion</string>
	<key>STORAGE_BUCKET</key>
	<string>bbh-trader---baghdad-bullion.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182440117373:ios:677fca3d05a2d614c11d14</string>
</dict>
</plist>