<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Baghdad Bullion</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>saveingold_official_app</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>LSApplicationCategoryType</key>
		<string></string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>NSLocalAuthenticationUsageDescription</key>
		<string>We use biometrics or device passcode to authenticate you</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>LSApplicationCategoryType</key>
		<string></string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		
		<!-- Notification Permissions -->
		<!-- <key>UNAuthorizationOptions</key>
		<array>
			<string>badge</string>
			<string>sound</string>
			<string>alert</string>
		</array>
		<key>UNNotificationPresentationOptions</key>
		<array>
			<string>badge</string>
			<string>sound</string>
			<string>banner</string>
		</array> -->
		
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>NSAllowsArbitraryLoadsInWebContent</key>
			<true/>
		</dict>
		<key>NSAppleMusicUsageDescription</key>
		<string>This app uses Apple Pay for secure payments.</string>
		<key>NSBiometricUsageDescription</key>
		<string>Need access to biometric authentication for security</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Need to access the bank branches and user location</string>
		<key>NSCameraUsageDescription</key>
		<string>We need access to your camera to allow you to take photos for your profile picture and to capture documents for verification purposes.</string>
		<key>NFCReaderUsageDescription</key>
		<string>NFC is used to read identity documents during KYC verification.</string>
		<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
		<array>
			<string>A0000002471001</string>
			<string>E80704007F00070302</string>
			<string>A000000167455349474E</string>
			<string>A0000002480100</string>
			<string>A0000002480200</string>
			<string>A0000002480300</string>
			<string>A00000045645444C2D3031</string>
		</array>
		<key>com.apple.developer.nfc.readersession.formats</key>
		<array>
			<string>NDEF</string>
			<string>TAG</string>
		</array>
		<key>NSFaceIDUsageDescription</key>
		<string>Need access to Face ID for authentication</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>We need access to your microphone.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We need access to your photo library to select images.</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>This app uses Apple Pay for secure payments.</string>
		<!-- Firebase Notification Configuration -->
		<!-- <key>FirebaseAppDelegateProxyEnabled</key>
		<false/> -->
		
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>com.saveingold.hyperpay</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.saveingold.hyperpay.payment</string>
				</array>
			</dict>
		</array>
		<key>UIDeviceFamily</key>
		<array>
			<integer>1</integer> <!-- iPhone -->
			<integer>2</integer> <!-- iPad -->
		</array>
	</dict>
</plist>
